.activeNav {
    background-color:rgb(241, 167, 8);
}
.icon{
    display: none }


    @media screen and (max-width: 600px) {
.responsive{
    display:none
}
.icon{
    display: block
}
h2{
    display: none
}
    }